/* ==|====================
   Development
   ======================= */

.development-about {
	padding-left: 45px;
	margin-bottom: 95px;
	max-width: 830px;
	
	h2 + p {
		margin-top: -5px;
	}
	
	p {
		margin: 30px 0;
	}
	
}

.development-services {
	margin-bottom: 90px;
	padding: 90px 0 115px;
	background: url("../pic/dev-services-bg.jpg") center no-repeat #1d3054;
	background-size: cover;
	color: #fff;
	
	h2 {
		margin-bottom: 45px;
	}
	
	&__box {
		max-width: 910px;
		padding-left: 25px;
	}
	
	&__list {
		margin: 0;
		padding: 0;
		padding-left: 12px;
		list-style: none;
		
		> li {
			position: relative;
		}
		
	}
	
}



@media only screen and (max-width: 991px) {
	
	.development-about {
		margin-bottom: 75px;
	}
	
	.development-services__box {
		max-width: 640px;
		padding-left: 45px;
	}
	
	.development-services {
		margin-bottom: 70px;
	}
	
}

@media only screen and (max-width: 767px) {
	
	.development-about {
		padding-left: 10px;
		margin-bottom: 40px;
	}
	
	.development-about p {
		margin: 20px 0;
		padding-left: 15px;
	}
	
	.development-services {
		margin-bottom: 40px;
		padding: 60px 0 80px;
	}
	
	.development-services__box {
		padding-left: 25px;
	}
	
}










