/* ==|====================
   Header
   ======================= */

.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 40px;
	height: 3px;
	background-color: #362f2d;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -8px;
}
.hamburger-inner::after {
	bottom: -8px;
}

/*
   * 3DX
*/
.hamburger--3dx .hamburger-box {
	perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
	transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
	background-color: transparent;
	transform: rotateY(180deg);
}
.hamburger--3dx.is-active .hamburger-inner::before {
	top: -10px;
	transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.is-active .hamburger-inner::after {
	bottom: -10px;
	transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.open-resp-nav {
	display: none;
	position: absolute;
	right: 0;
	top: 5px;
	z-index: 100;
}


.responsive-nav-wrap {
	display: none;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	transition: 0.2s;
	opacity: 0;
	visibility: hidden;
	
	&.opened {
		opacity: 1;
		visibility: visible;
	}
	
}

.responsive-nav-box {
	position: relative;
	margin-bottom: 10px;
	min-height: 110px;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.responsive-nav {
	margin-left: -10px;
	padding-top: 45px;
	padding-right: 55px;
	padding-bottom: 25px;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		> li {
			display: inline-block;
			margin-right: 15px;
			vertical-align: top;
			
			&:last-child {
				margin-right: 0;
			}
			
			a {
				font-size: 12px;
				font-weight: 700;
				text-decoration: none;
				color: #494949;
				
				&:hover {
					color: #4085f2;
				}
				
			}
			
			&.current {
				
				a {
					color: #d6d6d6;
				}
				
			}
			
		}
		
		
	}
	
}

.responsive-nav-btns {
	position: relative;
	padding-left: 10px;
	margin-top: 27px;
	
	&:before {
		content: "";
		position: absolute;
		left: -15px;
		right: -15px;
		top: -11px;
		height: 1px;
		background-color: #e1e1e1;
	}
	
	a {
		display: inline-block;
		margin-right: 5px;
		padding: 5px;
		font-size: 12px;
		text-decoration: none;
		color: #124191;
		
		&:first-child {
			margin-left: -5px;
		}
		
		&:hover {
			color: #4085f2;
		}
		
		&.lang-link {
			margin-left: 2px;
			font-weight: 500;
			color: #aeaeae;
			text-transform: uppercase;
			
			&:hover {
				color: #4085f2;
			}
			
		}
		
	}
	
	a.entry-lk-link {
		display: inline-block;
		margin-left: 1px;
		vertical-align: middle;
		padding-left: 34px;
		position: relative;
		font-size: 12px;
		font-weight: 500;
		text-decoration: underline;
		
		&:before {
			content: "";
			width: 26px;
			height: 26px;
			position: absolute;
			left: 0;
			top: 5px;
			background: url("../pic/entry-lk-icon.png") no-repeat;
			background-size: contain;
		}
		
		&.disabled {
			color: #d9d9d9;
			text-decoration: none;
			filter: grayscale(1);
			
			&:before {
				opacity: 0.2;
			}
			
		}
		
	}
	
}

.responsive-nav-overlay {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(7, 7, 7, 0.45);
	transition: 0.2s;
	opacity: 0;
	visibility: hidden;
	z-index: 80;
}

body.added-overlay {
	
	.responsive-nav-overlay {
		opacity: 1;
		visibility: visible;
	}
	
}


@media only screen and (max-width: 991px) {
	
	.responsive-nav-wrap {
		display: block;
	}
	
	.open-resp-nav {
		display: inline-block;
	}

}

@media only screen and (max-width: 820px) {
	
	.responsive-nav {
		margin-left: 0;
	}

}

@media only screen and (max-width: 767px) {
	
	.responsive-nav-overlay {
		display: block;
	}
	
	.open-resp-nav {
		right: -15px;
	}
	
	.hamburger-box {
		width: 30px;
		height: 20px;
	}
	
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 30px;
		height: 3px;
	}
	
	.responsive-nav-box {
		right: -100%;
		padding: 15px 0;
		transition: 0.2s;
	}
	
	.responsive-nav-wrap.opened {
		.responsive-nav-box {
			right: 0;
		}
	}
	
	.responsive-nav {
		padding: 0;
		margin: 0;
		
		ul {
			padding-left: 10px;
			padding-right: 40px;
			
			> li {
				display: block;
				margin-bottom: 8px;
				
				&:last-child {
					margin-bottom: 0;
				}
				
				a {
					display: block;
					line-height: 1.3em;
				}
				
			}
			
		}
		
	}

}


/* Regular Header */

.regular-header {
	padding-top: 7px;
	min-height: 110px;
	padding-bottom: 18px;
	background-color: #fff;
	
	&__box {
		position: relative;
	}
	
	&__logo {
		float: left;
		margin-left: -10px;
		
		a {
			display: inline-block;
		}
		
	}
	
	&__right {
		float: right;
		padding-right: 15px;
		padding-top: 24px;
		text-align: right;
	}
	
	&__nav {
		max-width: 865px;
		
		ul {
			display: inline-block;
			text-align: right;
			list-style: none;
			margin: 0;
			padding: 0;
			
			> li {
				display: inline-block;
				margin-left: 25px;
				vertical-align: top;
				
				&:first-child {
					margin-left: 0;
				}
				
				a {
					text-decoration: none;
					font-size: 14px;
					font-weight: 600;
					color: #494949;
					
					&:hover {
						color: #4085f2;
					}
					
				}
				
				&.current {
					
					a {
						color: #d6d6d6;
					}
					
				}
				
			}
			
		}
		
	}
	
	&__auth {
		margin-top: 6px;
		
		a {
			display: inline-block;
			margin-left: 23px;
			vertical-align: middle;
			font-size: 14px;
			text-decoration: none;
			color: #124191;
			
			&:hover {
				color: #4085f2;
			}
			
			&.lang-switcher {
				margin-left: 20px;
				font-weight: 500;
				font-size: 12px;
				color: #aeaeae;
				
				&:hover {
					color: #4085f2;
				}
				
				
			}
			
		}
		
		.entry-lk-link {
			display: inline-block;
			margin-left: 12px;
			vertical-align: middle;
			padding-left: 35px;
			position: relative;
			font-size: 14px;
			font-weight: 500;
			text-decoration: underline;
			
			&:before {
				content: "";
				width: 27px;
				height: 27px;
				position: absolute;
				left: 0;
				top: 0;
				background: url("../pic/entry-lk-icon.png") no-repeat;
				background-size: contain;
			}
			
			&.disabled {
				color: #d9d9d9;
				text-decoration: none;
				filter: grayscale(1);
				
				&:before {
					opacity: 0.2;
				}
				
			}
			
		}
		
	}
	
	&__resp {
		display: none;
		margin-left: 20px;
		padding-top: 13px;
		padding-right: 70px;
		vertical-align: middle;
		position: relative;
		
		.page-name {
			font-size: 14px;
			font-weight: 500;
			color: #d6d6d6;
		}
		
	}
	
}

.regular-responsive-nav-wrap {
	
	.responsive-nav ul > li {
		margin-right: 27px;
	}
	
	.responsive-nav ul > li a {
		font-size: 14px;
	}

}

@media only screen and (max-width: 1200px) {
	
	.regular-header__auth {
		display: inline-block;
		vertical-align: middle;
		margin-right: 30px;
		margin-top: 11px;
	}
	
	.regular-header__auth a.lang-switcher {
		margin-top: 1px;
	}

	.regular-header__nav {
		display: none;
	}
	
	.regular-header {
	
		.open-resp-nav {
			display: block;
			top: -1px;
		}
	
	}
	
	.regular-header__resp {
		display: inline-block;
	}
	
	.regular-responsive-nav-wrap {
		display: block;
	}

}

@media only screen and (max-width: 991px) {
	
	.regular-header__logo {
		padding-top: 2px;
	}
	
	.regular-header__resp .page-name {
		font-size: 12px;
	}
	
	.regular-header__auth a {
		font-size: 12px;
		margin-left: 11px;
	}
	
	.regular-header__auth a.lang-switcher {
		margin-left: 11px;
	}
	
	.regular-header__resp {
		margin-left: 0;
	}
	
	.regular-responsive-nav-wrap .responsive-nav {
		padding-top: 40px;
	}
	
	.regular-responsive-nav-wrap .responsive-nav ul > li {
		margin-right: 13px;
	}
	
	.regular-responsive-nav-wrap .responsive-nav ul > li a {
		font-size: 12px;
	}

}

@media only screen and (max-width: 767px) {
	
	.regular-header {
		min-height: 58px;
		padding-bottom: 10px;
	}
	
	.regular-header__logo {
		width: 155px;
	}
	
	.regular-header__auth {
		display: none;
	}
	
	.regular-header__right {
		padding-top: 11px;
	}
	
	.regular-header__resp {
		position: absolute;
		height: 22px;
		right: 0;
		padding-top: 0;
		padding-right: 42px;
	}
	
	.regular-header .open-resp-nav {
		top: -13px;
	}
	
	.regular-header__resp .page-name {
		position: absolute;
		top: 50%;
		right: 40px;
		transform: translateY(-50%);
		font-size: 11px;
		width: 100px;
		line-height: 12px;
	}
	
	.regular-responsive-nav-wrap .responsive-nav {
		padding-top: 0;
	}

}