/* ==|====================
   Main Page
   ======================= */

.main-page-top-section {
	min-height: 445px;
	margin-bottom: 55px;
	padding: 12px 0 41px;
	background: url("../pic/main-page-top-bg.jpg") center no-repeat;
	background-size: cover;
	
	h1 {
		margin-bottom: 0;
		padding-left: 15px;
		font-size: 30px;
		font-weight: 300;
		letter-spacing: 0.03em;
		line-height: 1.62em;
		
		span {
			display: block;
		}
		
	}
	
}

.main-page-header {
	margin-bottom: 30px;
	
	&__logo {
		float: left;
		margin-left: -10px;
		
		a {
			display: inline-block;
		}
		
	}
	
	&__nav {
		float: right;
		padding-top: 28px;
		padding-right: 15px;
		text-align: right;
		
		ul {
			display: inline-block;
			width: 510px;
			margin: 0;
			padding: 0;
			list-style: none;
			
			> li {
				display: inline-block;
				margin-left: 32px;
				margin-bottom: 15px;
				
				a {
					text-decoration: none;
					font-size: 14.5px;
					font-weight: 600;
					color: #494949;
					
					&:hover {
						color: #4085f2;
					}
					
				}
				
			}
			
		}
		
	}
	
}

.main-page-top-phone {
	margin-left: 85px;
	margin-top: -22px;
	margin-bottom: 42px;
	
	a {
		font-size: 30px;
		color: #124191;
		text-decoration: none;
		font-weight: 500;
		letter-spacing: 0.01em;
		
		&:hover {
			color: #4085f2;
		}
		
	}
	
}

.main-page-top-auth {
	margin-top: -3px;
	
	&__btns {
		float: right;
		text-align: right;
		
		.lang-switcher {
			display: inline-block;
			margin-right: 23px;
			margin-top: 1px;
			vertical-align: middle;
			font-size: 18px;
			text-transform: uppercase;
			text-decoration: none !important;
			font-weight: 500;
			color: #494949 !important;
			
			&:hover {
				color: #4085f2 !important;
			}
			
		}
		
		.entry-lk-link {
			display: inline-block;
			margin-left: 12px;
			vertical-align: middle;
			padding-left: 42px;
			position: relative;
			font-size: 14px;
			font-weight: 500;
			
			&:before {
				content: "";
				width: 34px;
				height: 33px;
				position: absolute;
				left: 0;
				top: -2px;
				background: url("../pic/entry-lk-icon.png") no-repeat;
			}
			
		}
		
	}
	
	.arrow-btn {
		width: 174px;
		margin-left: 11px;
		
		&.registration-btn {
			padding-left: 5px;
			padding-right: 5px;
			
			i {
				margin-left: 10px;
			}
			
		}
		
	}
	
}

.main-page-header {
	position: relative;
}


@media only screen and (max-width: 1200px) {
	
	.main-page-top-auth {
		margin-top: 38px;
	}

}

@media only screen and (max-width: 991px) {
	
	.main-page-top-section {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	
	.main-page-header__logo {
		width: 260px;
	}
	
	.main-page-header__nav {
		position: absolute;
		display: none;
	}
	
	.main-page-top-phone {
		margin-left: 63px;
		margin-top: -15px;
		margin-bottom: 52px;
		
		a {
			font-size: 22px;
		}
		
	}
	
	.main-page-top-section h1 {
		padding-left: 5px;
		font-size: 24px;
	}
	
	.main-page-top-auth {
		margin-top: 75px;
	}

}

@media only screen and (max-width: 767px) {
	
	.main-page-top-section {
		padding-top: 5px;
		min-height: 0;
		margin-bottom: 40px;
	}
	
	.main-page-header__logo {
		width: 180px;
	}
	
	.main-page-top-phone {
		margin-left: 40px;
		margin-top: -28px;
		margin-bottom: 20px;
	}
	
	.main-page-top-phone a {
		font-size: 15.5px;
	}
	
	.main-page-top-section h1 {
		padding: 0;
		font-size: 20px;
		line-height: 28px;
		
		span {
			margin-bottom: 14px;
			
			&:last-child {
				margin-bottom: 0;
			}
			
		}
		
	}
	
	.main-page-top-auth {
		margin-top: 45px;
	}
	
	.main-page-top-auth__btns {
		float: none;
		position: relative;
		text-align: center;
	}
	
	.main-page-top-auth .arrow-btn {
		display: block;
		width: 174px;
		margin: 0 auto 13px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		&.login-btn {
			
			i {
				margin-left: 54px;
			}
			
		}
		
	}
	
	.main-page-top-auth__btns .lang-switcher {
		position: absolute;
		left: 50%;
		margin-left: -132px;
		top: 42px;
		font-size: 14px;
	}
	
	.main-page-top-auth.user-authorized {
		margin: 60px 0 20px;
		
		.main-page-top-auth__btns .lang-switcher {
			margin-left: -120px;
			top: 2px;
		
		}
	
	}

}


/* main sliders section */

.main-slider-section {

}

.main-products-list {
	float: left;
	width: 60%;
	
	&__box {
		min-height: 592px;
		padding: 50px 40px 80px;
		background: url("../pic/main-products-list-bg.jpg") center no-repeat;
		background-size: cover;
		color: #fff;
		overflow: hidden;
		position: relative;
		
		h2 {
			margin-bottom: 1px;
			padding-right: 90px;
			letter-spacing: 0.02em;
		}
		
		.more-btn {
			position: absolute;
			right: 60px;
			top: 45px;
		}
		
	}
	
}

.main-slider-bullets {
	min-height: 14px;
	
	span {
		width: 14px;
		height: 14px;
		margin-right: 6px;
		border-radius: 50%;
		background-color: transparent;
		border: 1px solid #5371b4;
		outline: none !important;
		transition: 0.2s;
		opacity: 1;
		
		&:hover {
			background-color: #5371b4;
		}
		
		&.swiper-pagination-bullet-active {
			background-color: #fff;
			border-color: #fff;
		}
		
	}
	
}

.main-products-items {
	margin-top: 105px;
	margin-right: -55px;
}

.main-product-item {
	display: inline-block;
	width: 130px;
	margin-bottom: 70px;
	margin-right: 35px;
	vertical-align: top;
	font-size: 16px;
	line-height: 1.5em;
	text-decoration: none !important;
	
	&__caption {
		margin-bottom: 12px;
		color: #7295d1;
		transition: color 0.2s;
		font-weight: 900;
	}
	
	&__about {
		font-weight: 400;
		color: #7295d1;
		transition: color 0.2s;
	}
	
	&:hover {
		
		.main-product-item__caption {
			color: #4085f2;
		}
		
		.main-product-item__about {
			color: #4085f2;
		}
		
	}
	
	&.active {
	
		.main-product-item__caption {
			color: #fff;
		}
		
		.main-product-item__about {
			color: #fff;
			font-weight: 500;
		}
	
	}
	
	&:nth-child(4n) {
		margin-right: 0;
		margin-left: -20px;
	}
	
}

.main-product-desc {
	float: left;
	width: 40%;
	
	&__box {
		min-height: 754px;
		padding: 40px 70px;
		color: #fff;
		background: url("../pic/main-products-desc-bg.jpg") center no-repeat;
		background-size: cover;
		position: relative;
		z-index: 1;
		
	}
	
}

.main-product-desc-item {
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	&__logo {
		margin-bottom: 20px;
	}
	
	&__caption {
		margin-bottom: 30px;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 500;
	}
	
	&__about {
		max-width: 275px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 26px;
		height: 300px;
		overflow: hidden;
	}
	
	&__more {
		margin-top: 60px;
		
		.white-btn {
			display: block;
			width: 100%;
		}
		
	}
	
}

.main-product-desc-controls {
	position: absolute;
	max-width: 110px;
	margin: 0 auto;
	bottom: 60px;
	left: 40px;
	right: 40px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 26px;
	
	> div {
		display: inline-block;
		margin: 0 10px;
		outline: none;
		font-size: 14px;
	}
	
	.slide-counter {
		letter-spacing: 0.2em;
		margin: 0;
		padding: 0;
		font-size: 14px;
	}
	
	.prev-project-slide,
	.next-project-slide {
		position: absolute;
		top: 2px;
		width: 14px;
		height: 25px;
		cursor: pointer;
		background: url("../pic/white-nav-arrows.png") no-repeat;
		transition: left 0.2s, right 0.2s;
		
		&:hover {
			width: 33px;
		}
		
		&:before {
			content: "";
			position: absolute;
			left: -15px;
			right: -15px;
			top: -20px;
			bottom: -20px;
		}
		
	}
	
	.prev-project-slide {
		background-position: 0 0;
		left: 0;
		
		&:hover {
			background-position: 0 -50px;
			left: -13px;
		}
		
	}
	
	.next-project-slide {
		background-position: -19px -25px;
		right: 0;
		
		&:hover {
			right: -13px;
			background-position: 0 -75px;
		}
		
	}
	
}

@media only screen and (max-width: 1200px) {
	
	.main-products-list {
		width: 50%;
	}
	
	.main-product-desc {
		width: 50%;
	}
	
	.main-products-list__box {
		min-height: 754px;
		padding-bottom: 30px;
	}
	
	.main-products-list__box h2 {
		margin-top: 4px;
		margin-bottom: 5px;
		line-height: 36px;
		padding-right: 50px;
		letter-spacing: normal;
	}
	
	.main-products-list__box .more-btn {
		right: 40px;
		top: 58px;
	}
	
	.main-products-items {
		margin-right: -100px;
	}
	
	.main-product-item {
		margin-right: 20px !important;
		margin-left: 0 !important;
	}

}

@media only screen and (max-width: 991px) {
	
	.main-products-list {
		width: auto;
		float: none;
	}
	
	.main-products-list__box {
		min-height: 440px;
		padding-top: 70px;
	}
	
	.main-products-list__box h2 {
		margin-top: 0;
		margin-bottom: 13px;
		font-size: 27px;
		line-height: 1em;
	}
	
	.main-products-list__box .more-btn {
		right: 165px;
	}
	
	.main-products-items {
		margin-top: 23px;
		margin-right: 0;
	}
	
	.main-product-item {
		margin-bottom: 45px;
	}
	
	.main-product-desc {
		width: auto;
		float: none;
	}
	
	.main-product-desc__box {
		padding: 30px 70px 170px;
		min-height: 0;
	}
	
	.main-product-desc-item__about {
		max-width: 585px;
		height: auto;
		overflow: auto;
	}
	
	.main-product-desc-item__more {
		margin-top: 70px;
	}
	
	.main-product-desc-item__more .white-btn {
		max-width: 333px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.main-product-desc-controls {
		bottom: 70px;
		line-height: 30px;
	}

}

@media only screen and (max-width: 767px) {
	
	.main-slider-section__box {
		margin: 0 -15px;
	}
	
	.main-products-list__box h2 {
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 5px;
	}
	
	.main-products-list__box .more-btn {
		right: 15px;
		top: 77px;
	}
	
	.main-products-list__box {
		padding: 55px 25px 40px;
	}
	
	.main-product-item {
		margin-bottom: 20px;
	}
	
	.main-product-desc__box {
		padding: 30px 15px 120px;
	}
	
	.main-product-desc-item {
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.main-product-desc-item__logo {
		margin-bottom: 5px;
		
		img {
			max-width: 120px;
		}
		
	}
	
	.main-product-desc-item__caption {
		margin-bottom: 20px;
		font-size: 14px;
	}
	
	.main-product-desc-item__about {
		padding-left: 20px;
		font-size: 14px;
		line-height: 21px;
	}
	
	.main-product-desc-controls {
		bottom: 50px;
	}
	
	.main-product-desc-item__more {
		margin-top: 60px;
	}

}

@media only screen and (max-width: 400px) {
	
	.main-product-item {
		display: block;
		margin-right: 0;
		width: auto;
	}
	
}


/* BIM info section */

.bim-info-box {
	position: relative;
	max-width: 1090px;
	margin: 0 auto;
	top: -70px;
}

.bim-info-content {
	max-width: 575px;
	
	h2 {
		margin-bottom: 50px;
		max-width: 510px;
	}
	
	p {
		padding-left: 35px;
	}
	
}

.bim-more-btn {
	position: absolute;
	right: 25px;
	top: 250px;
	
	.arrow-btn {
		display: block;
		width: 333px;
	}
	
}

@media only screen and (max-width: 1200px) {
	
	.bim-info-box {
		top: auto;
		margin-top: 95px;
	}
	
	.bim-more-btn {
		position: static;
		text-align: center;
		margin-top: 40px;
		
		.arrow-btn {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			max-width: 333px;
		}
		
	}
	
	.bim-info-content {
		max-width: none;
	}
	
	.bim-info-content h2 {
		padding: 0 40px;
		max-width: none;
	}
	
	.bim-info-content p {
		padding: 0 75px;
	}

}

@media only screen and (max-width: 991px) {
	
	.bim-info-content h2 {
		margin-bottom: 30px;
		padding: 0;
		max-width: 675px;
		margin-left: auto;
		margin-right: auto;
		font-size: 24px;
		line-height: 38px;
	}
	
	.bim-info-content p {
		padding-left: 70px;
		padding-right: 40px;
		font-size: 16px;
		line-height: 24px;
	}

}

@media only screen and (max-width: 767px) {
	
	.bim-info-box {
		margin-top: 70px;
	}
	
	.bim-info-content h2 {
		margin-bottom: 15px;
		padding-left: 10px;
		font-size: 20px;
		line-height: 31px;
	}
	
	.bim-info-content p {
		margin-top: 0;
		padding-left: 40px;
		padding-right: 0;
		font-size: 14px;
		line-height: 22px;
	}

}


/* services section */

.main-services-section {
	overflow: hidden;
	margin-top: -10px;
	margin-bottom: 80px;
}

.main-services-list {
	margin: 0 -40px;
	text-align: center;
}

.main-service-item {
	display: inline-block;
	margin: 0 20px 45px;
	padding-bottom: 35px;
	vertical-align: top;
	position: relative;
	width: 360px;
	min-height: 355px;
	border: 1px solid #124191;
	background-color: #fff;
	text-decoration: none !important;
	text-align: left;
	
	&:hover {
		background-color: #fbfcff;
	}
	
	&__pic {
		height: 152px;
		margin-bottom: 30px;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #efefef;
		background-size: cover;
	}
	
	&__caption {
		padding: 0 60px 0 40px;
		font-size: 22px;
		color: #494949;
		font-weight: 500;
		line-height: 34px;
	}
	
	
	.more-btn {
		position: absolute;
		right: 30px;
		bottom: 33px;
	}
	
}

@media only screen and (max-width: 1200px) {
	
	.main-services-section {
		margin-top: 100px;
		margin-bottom: 60px;
	}
	
	.main-services-list {
		margin: 0;
	}
	
	.main-service-item {
		display: block;
		min-height: 153px;
		width: 100%;
		margin-bottom: 28px;
		margin-left: 0;
		margin-right: 0;
		padding-left: 360px;
	}
	
	.main-service-item__pic {
		width: 360px;
		margin-bottom: 0;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
	}
	
	.main-service-item__caption {
		padding-left: 30px;
		padding-top: 35px;
	}
	
	.main-service-item .more-btn {
		bottom: 25px;
		right: 25px;
	}

}

@media only screen and (max-width: 991px) {
	
	.main-service-item {
		padding-left: 267px;
	}
	
	.main-service-item__caption {
		font-size: 19px;
		line-height: 31px;
	}
	
	.main-service-item__pic {
		width: 267px;
	}

}

@media only screen and (max-width: 767px) {
	
	.main-services-section {
		margin-top: 75px;
		margin-bottom: 20px;
	}
	
	.main-service-item {
		padding-left: 0;
		min-height: 285px;
	}
	
	.main-service-item__pic {
		height: 117px;
		width: 100%;
		margin-bottom: 10px;
		position: static;
	}
	
	.main-service-item__caption {
		padding: 20px 70px 0 20px;
		font-size: 17px;
		line-height: 28px;
	}
	
	.main-service-item .more-btn {
		right: 20px;
		bottom: 20px;
	}

}


/* about section */

.main-about-section {
	padding: 85px 0 95px;
	background: url("../pic/main-about-section-bg.jpg") no-repeat center #1d3054;
	background-size: cover;
	color: #fff;
	
	&__box {
		position: relative;
		max-width: 1090px;
		margin: 0 auto;
	}
	
}

.main-about-content {
	max-width: 545px;
	
	h2 {
		margin-bottom: 45px;
		max-width: 510px;
	}
	
	p {
		padding-left: 35px;
	}
	
}

.main-about-more-btn {
	position: absolute;
	right: 25px;
	top: 165px;
	
	.arrow-btn {
		display: block;
		width: 333px;
	}
	
}

@media only screen and (max-width: 1200px) {
	
	.main-about-more-btn {
		position: static;
		text-align: center;
		margin-top: 40px;
		
		.arrow-btn {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			max-width: 333px;
		}
		
	}
	
	.main-about-content {
		max-width: none;
	}
	
	.main-about-content h2 {
		padding: 0 40px;
		max-width: none;
	}
	
	.main-about-content p {
		padding: 0 20px 0 75px;
	}
	
}

@media only screen and (max-width: 991px) {
	
	.main-about-content h2 {
		margin-bottom: 30px;
		padding: 0;
		max-width: 675px;
		margin-left: auto;
		margin-right: auto;
		font-size: 24px;
		line-height: 38px;
	}
	
	.main-about-content p {
		padding-left: 70px;
		padding-right: 40px;
		font-size: 16px;
		line-height: 24px;
	}
	
}

@media only screen and (max-width: 767px) {
	
	.main-about-section {
		padding: 75px 0;
		background-position: calc(50% - 200px) 50%;
	}
	
	.main-about-content h2 {
		margin-bottom: 15px;
		padding-left: 10px;
		font-size: 20px;
		line-height: 31px;
	}
	
	.main-about-content p {
		margin-top: 0;
		padding-left: 40px;
		padding-right: 0;
		font-size: 14px;
		line-height: 22px;
	}
	
}


/* news section */

.main-news-section {
	min-height: 700px;
	padding: 170px 0 85px;
	overflow: hidden;
	
	h2 {
		margin-bottom: 60px;
	}
	
	&:after {
		content: "";
		display: block;
		margin: 5px auto 0;
		height: 2px;
		width: 100%;
		max-width: 1170px;
		background-color: #ebebeb;
	}
	
}

.main-news-box {
	max-width: 945px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.main-news-list {
	height: 580px;
	position: relative;
}

.main-news-item {
	display: block;
	position: absolute;
	width: 460px;
	height: 312px;
	background-color: #ebebeb;
	text-decoration: none !important;
	overflow: hidden;
	
	&__bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: 0.2s;
		
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(255, 255, 255, 0.5);
			transition: opacity 0.2s;
			opacity: 1;
		}
		
	}
	
	&__content {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 5;
		padding: 52px 28px;
	}
	
	&__caption {
		margin-bottom: 8px;
		font-size: 22px;
		line-height: 34px;
		font-weight: 500;
		
		span {
			color: #124191;
			text-decoration: underline;
			transition: 0.2s;
		}
		
	}
	
	&__date {
		font-size: 16px;
		color: #494949;
		font-weight: 400;
		transition: 0.2s;
	}
	
	&.main-news {
		width: 460px;
		height: 312px;
		
		.main-news-item__caption {
			margin-top: 7px;
			font-size: 30px;
		}
		
		
	}
	
	&:hover {
		
		.main-news-item__bg {
			transform: scale(1.1);
		}
		
		.main-news-item__bg:before {
			opacity: 0;
		}
		
		.main-news-item__caption {
			color: #4085f2;
			
			span {
				color: #4085f2;
				text-shadow: 0 0 3px #fff;
			}
			
		}
		
		.main-news-item__date {
			text-shadow: 0 0 3px #fff;
		}
	
	}
	
	&.news-item-1 {
		left: 0;
		top: 0;
	}
	
	&.news-item-2 {
		left: 489px;
		top: -150px;
		width: 215px;
		height: 322px;
	}
	
	&.news-item-3 {
		left: 489px;
		width: 458px;
		height: 232px;
		bottom: 150px;
	}
	
	&.news-item-4 {
		right: 0;
		top: -60px;
		width: 216px;
		height: 232px;
	}
	
	
}

.main-news-more {
	position: absolute;
	bottom: 150px;
	left: 64px;
	
	.arrow-btn {
		width: 333px;
	}
	
}

@media only screen and (max-width: 991px) {
	
	.main-news-section {
		padding-top: 75px;
		padding-bottom: 70px;
		
		&:after {
			margin-top: 85px;
			margin-left: 15px;
			margin-right: 15px;
			width: auto;
		}
		
	}
	
	.main-news-box {
		max-width: 615px;
	}
	
	.main-news-section h2 {
		margin-bottom: 50px;
		font-size: 27px;
	}
	
	.main-news-list {
		height: 585px;
		width: auto;
	}
	
	.main-news-more {
		position: static;
		margin-top: 65px;
		text-align: center;
	}
	
	.main-news-item.main-news {
		width: 361px;
		height: 312px;
	}
	
	.main-news-item.news-item-2 {
		width: 216px;
		height: 311px;
		right: 0;
		top: 0;
		left: auto;
	}
	
	.main-news-item.news-item-3 {
		width: 361px;
		height: 232px;
		left: 0;
		bottom: 0;
	}
	
	.main-news-item.news-item-4 {
		width: 216px;
		height: 232px;
		right: 0;
		bottom: 0;
		top: auto;
		left: auto;
	}

}

@media only screen and (max-width: 660px) {
	
	.main-news-section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	.main-news-section h2 {
		margin-bottom: 30px;
		font-size: 20px;
		max-width: 365px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.main-news-list {
		height: auto;
	}
	
	.main-news-item {
		position: relative !important;
		top: auto !important;
		left: auto !important;
		right: auto !important;
		bottom: auto !important;
		width: auto !important;
		max-width: 365px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
		height: auto !important;
		min-height: 312px;
	}
	
	.main-news-item__caption {
		font-size: 19px;
	}
	
	.main-news-item.main-news .main-news-item__caption {
		font-size: 24px;
	}
	
	.main-news-item__date {
		font-size: 14px;
	}
	
	.main-news-section::after {
		margin-top: 50px;
	}
	
	.main-news-more {
		margin-top: 35px;
		
		.arrow-btn {
			display: block;
			width: 100%;
			max-width: 333px;
			margin-left: auto;
			margin-right: auto;
		}
		
	}

}



/* projects section */

.projects-section {
	margin-bottom: 100px;
	
	h2 {
		margin-bottom: 58px;
	}
	
}

.project-col {
	margin-bottom: 23px;
}

.project-item {
	display: block;
	position: relative;
	height: 263px;
	border: 1px solid #124191;
	text-decoration: none !important;
	overflow: hidden;
	transition: 0.2s;
	
	&__logo {
		position: relative;
		height: 100%;
		line-height: 218px;
		width: 100%;
		padding: 20px;
		text-align: center;
		transition: opacity 0.2s;
		opacity: 1;
		
		img {
			max-width: 100%;
			max-height: 100%;
		}
		
	}
	
	&__back {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 25px;
		transition: opacity 0.2s;
		opacity: 0;
		background-color: #f8fafc;
		
	}
	
	&__name {
		max-height: 136px;
		overflow: hidden;
		margin-top: 24px;
		font-size: 22px;
		font-weight: 500;
		color: #494949;
		line-height: 1.55em;
	}
	
	&__more {
		position: absolute;
		right: 25px;
		bottom: 25px;
	}
	
	
	&:hover {
		border-color: #f8fafc;
		
		.project-item__logo {
			opacity: 0;
		}
		
		.project-item__back {
			opacity: 1;
		}
		
	}
	
}

@media only screen and (max-width: 1200px) {
	
	.projects-section h2 {
		margin-bottom: 45px;
	}
	
	.project-item {
		height: 225px;
	}
	
	.project-item__back {
		padding: 20px;
	}
	
	.project-item__logo {
		line-height: 180px;
	}
	
	.project-item__name {
		margin-top: 22px;
		font-size: 19px;
		line-height: 29px;
	}
	
	.project-item__more {
		width: 43px;
		height: 43px;
		right: 20px;
		bottom: 20px;
		
		&:after {
			top: 7px;
		}
		
	}
	
}

@media only screen and (max-width: 991px) {
	
	.projects-section {
		margin-bottom: 75px;
	}
	
	.projects-section h2 {
		padding-left: 40px;
		font-size: 27px;
	}

	.projects-box {
		max-width: 473px;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (max-width: 767px) {
	
	.projects-section h2 {
		max-width: 473px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 27px;
		font-size: 20px;
		line-height: 31px;
		padding-left: 0;
	}

}


/* modal windows */

.modal-window {
	display: none;
	width: 545px;
	margin-top: 50px;
	padding: 85px 55px 85px;
	background-color: #fff;
	overflow: visible !important;
	
	.fancybox-close-small {
		width: 50px;
		height: 50px;
		border-radius: 0;
		right: -50px;
		top: -50px;
		background-color: #0e2c61;
		color: #fff;
		font-weight: bold;
		opacity: 1 !important;
		transition: 0.2s;
		
		svg {
			stroke-width: 2.5px;
			opacity: 1 !important;
		}
		
		&:hover {
			background-color: #4085f2;
		}
		
	}
	
	&__caption {
		margin-top: -23px;
		margin-bottom: 35px;
		text-align: center;
		font-size: 22px;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 1.2em;
	}
	
}

.modal-form {
	
	.options-box {
		margin-top: 38px;
		
		.another-pc {
			float: left;
		}
		
		.forget-pass {
			float: right;
			
			a {
				font-size: 14px;
				color: #494949;
				text-decoration: none;
				
				&:hover {
					color: #4085f2;
					text-decoration: underline;
				}
				
			}
			
		}
		
	}
	
	.submit-box {
		margin-top: 55px;
		
		.dark-blue-btn {
			display: block;
			width: 100%;
			max-width: 333px;
			margin: 0 auto;
		}
		
	}
	
}

.privacy-policy-info {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	color: #7295d1;
	line-height: 15px;
	
	a {
		color: #7295d1;
	}
	
}


@media only screen and (max-width: 767px) {
	
	.modal-window {
		margin-top: 41px;
		padding: 65px 24px;
	}
	
	.modal-window .fancybox-close-small {
		width: 41px;
		height: 41px;
		top: -41px;
		right: 0;
	}
	
	.modal-form .options-box {
		margin-top: 25px;
	}
	
	.modal-form .submit-box {
		margin-top: 25px;
	}
	
	.privacy-policy-info {
		margin-top: 25px;
	}
	
	.privacy-policy-info a {
		display: block;
	}
	
	.modal-window__caption {
		margin-bottom: 27px;
		font-size: 15px;
	}

}

@media only screen and (max-width: 350px) {
	
	.modal-form .options-box .another-pc {
		float: none;
		
		.checkbox-label {
			margin-left: auto;
			margin-right: auto;
			padding-right: 35px;
		}
		
	}
	
	.modal-form .options-box .forget-pass {
		float: none;
		text-align: center;
		margin-top: 10px;
	}

}

