/* ==|====================
   Footer
   ======================= */

.footer {
	margin-top: 85px;
	padding: 60px 0 95px;
	background-color: #eef2f5;
	position: relative;
	z-index: 5;
}

.footer-box {
	position: relative;
	padding-left: 40px;
	padding-right: 70px;
}

.footer-left {
	float: left;
	width: 50%;
}

.footer-products {
	float: left;
	width: 250px;
	margin-right: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	&__caption {
		max-width: 145px;
		margin-bottom: 22px;
		line-height: 22px;
		font-size: 16px;
		color: #124191;
		font-weight: 500;
		cursor: pointer;
		position: relative;
		
		&:after {
			content: "\f106";
			position: absolute;
			font-family: "FontAwesome", sans-serif;
			right: 0;
			top: 0;
			font-size: 28px;
			transition: 0.2s;
		}
		
		&.rotate {
			
			&:after {
				top: 2px;
				transform: rotate(-180deg);
			}
			
		}
		
	}
	
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		
		> li {
			margin-bottom: 15px;
			
			&:last-child {
				margin-bottom: 0;
			}
			
			a {
				display: block;
				font-size: 14px;
				line-height: 1.5em;
				text-decoration: none;
				color: #494949;
				
				&:hover {
					color: #7295d1;
				}
				
			}
			
		}
		
	}
	
	&.closed {
	
	}
	
}


.footer-nav {
	float: left;
	width: 190px;
	margin-top: -2px;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		> li {
			margin-bottom: 34px;
			line-height: 1.3em;
			
			&:last-child {
				margin-bottom: 0;
			}
			
			a {
				font-size: 16px;
				font-weight: 500;
				text-decoration: none;
				color: #494949;
				
				&:hover {
					color: #7295d1;
				}
				
			}
			
		}
		
	}
	
}

.footer-right {
	float: right;
	width: 50%;
	padding-top: 5px;
	
	&__left {
		float: left;
		margin-left: 15px;
	}
	
	&__socials {
		float: right;
	}
	
}

.footer-logo {
	margin-bottom: 12px;
	
	a {
		display: block;
	}
	
}

.footer-phone {
	margin-left: 75px;
	margin-bottom: 42px;
	
	a {
		font-size: 22px;
		color: #124191;
		text-decoration: none;
		font-weight: 500;
		letter-spacing: 0.01em;
		
		&:hover {
			color: #4085f2;
		}
		
	}
}

.footer-socials-list {
	padding-top: 45px;
	
	a {
		display: inline-block;
		margin-left: 6px;
		width: 30px;
		height: 30px;
		line-height: 29px;
		border-radius: 50%;
		text-align: center;
		text-decoration: none;
		color: #fff;
		background-color: #ccc;
		font-size: 14px;
		
		&.fa-vk {
			background-color: #989898;
			&:hover {
				background-color: #4c75a3;
			}
		}
		
		&.fa-facebook {
			background-color: #6e6e6e;
			&:hover {
				background-color: #3b5998;
			}
		}
		
		&.fa-odnoklassniki {
			background-color: #a1a1a1;
			&:hover {
				background-color: #ed812b;
			}
		}
		
		&.fa-instagram {
			background-color: #bbb;
			&:hover {
				background-color: #e4405f;
			}
		}
		
	}
	
}

.footer-developer {
	position: absolute;
	right: 75px;
	bottom: -2px;
	
	span {
		margin-right: 10px;
		font-size: 14px;
		font-style: italic;
		color: #a0a4a7;
		font-weight: 400;
	}
	
	a {
		display: inline-block;
		width: 63px;
		height: 12px;
		background: url("../pic/intensa-logo.png") no-repeat;
		
		&:hover {
			background-position: bottom;
		}
		
	}
	
}



@media only screen and (max-width: 1200px) {
	
	.footer-box {
		padding-left: 0;
		padding-right: 0;
	}

}

@media only screen and (max-width: 991px) {
	
	.footer {
		margin-top: 70px;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.footer-right {
		float: none;
		width: auto;
		max-width: 470px;
		margin: 0 auto 18px;
	}
	
	.footer-right__left {
		display: inline-block;
		float: none;
		vertical-align: top;
		margin: 0;
		margin-right: 42px;
		margin-left: -31px;
	}
	
	.footer-right__socials {
		display: inline-block;
		float: none;
		vertical-align: top;
		margin: 0;
	}
	
	.footer-left {
		width: auto;
		float: none;
		max-width: 380px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.footer-products {
		width: 60%;
		margin-right: 0;
	}
	
	.footer-products__list > li a {
		font-size: 12px;
	}
	
	.footer-nav {
		width: 40%;
		float: right;
		margin-right: -35px;
	}
	
	.footer-nav ul > li {
		margin-bottom: 29px;
	}
	
	.footer-nav ul > li a {
		font-size: 14px;
	}
	
	.footer-developer {
		max-width: 410px;
		position: static;
		margin-left: auto;
		margin-right: auto;
		margin-top: 70px;
		text-align: right;
	}

}

@media only screen and (max-width: 767px) {
	
	.footer {
		padding-bottom: 60px;
	}
	
	.footer-products {
		float: none;
		width: auto;
		margin-bottom: 30px;
	}
	
	.footer-left {
		max-width: 195px;
	}
	
	.footer-nav {
		float: none;
		width: auto;
		margin-right: 0;
		margin-top: 0;
	}
	
	.footer-nav ul > li {
		margin-bottom: 20px;
	}
	
	.footer-right {
		max-width: 250px;
	}
	
	.footer-logo a img {
		width: 220px;
	}
	
	.footer-phone {
		margin-bottom: 40px;
		margin-left: 63px;
		margin-top: -3px;
	}
	
	.footer-phone a {
		font-size: 18px;
	}
	
	.footer-right__socials {
		position: absolute;
		bottom: 52px;
		left: 0;
		right: 0;
		max-width: 205px;
		margin: 0 auto;
		text-align: left;
	}
	
	.footer-socials-list a {
		margin: 0 3px 5px;
	}
	
	.footer-developer {
		max-width: 195px;
		margin-top: 105px;
		text-align: left;
	}

}