/* ==|====================
   News
   ======================= */

.news-wrapper {
	margin-top: -15px;
}

.news-list-box {
	margin-bottom: 80px;
}

.news-item {
	display: block;
	padding: 60px 40px 80px;
	border-bottom: 2px solid #ebebeb;
	text-decoration: none !important;
	
	&:last-child {
		border: none;
	}
	
	&__date {
		margin-bottom: 2px;
		font-size: 18px;
		font-weight: 900;
		color: #494949;
		transition: color 0.2s;
	}
	
	&__caption {
		display: inline-block;
		position: relative;
		margin-bottom: 15px;
		padding-right: 0;
		font-size: 27px;
		line-height: 1.1em;
		color: #494949;
		text-transform: uppercase;
		font-weight: 400;
		transition: color 0.2s;
		
		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			position: static;
			left: 100%;
			top: 8px;
			height: 15px;
			background: url("../pic/blue-right-arrow.png") no-repeat;
			transition: 0.2s;
			width: 0;
			margin-left: 0;
		}
		
	}
	
	&__preview {
		max-width: 700px;
		color: #494949;
	}
	
	&:hover {
	
		.news-item__date {
			color: #4085f2;
		}
		
		.news-item__caption {
			color: #4085f2;
			
			&:after {
				width: 46px;
				margin-left: 24px;
			}
			
		}
	
	}
	
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	
	.news-item__caption:after {
		background-image: url("../pic/blue-right-arrow@2x.png");
		background-size: 46px 15px;
	}
}

.news-list-more-btn {
	
	a {
		display: block;
		width: 100%;
		max-width: 1110px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 1em;
		background-color: #eef2f5 !important;
		color: #494949 !important;
		border-color: transparent !important;
		
		&:hover {
			background-color: #4085f2 !important;
			color: #fff !important;
		}
		
	}
	
}

@media only screen and (max-width: 767px) {
	
	.news-item {
		padding: 30px 0;
	}
	
	.news-item__date {
		font-size: 12px;
	}
	
	.news-item__caption {
		font-size: 20px;
		
		&:after {
			display: none;
		}
		
	}
	
	.news-list-more-btn {
		margin-top: 15px;
	}

}



/* news detail */

.news-detail-box {
	position: relative;
	padding-top: 60px;
}

.current-news-close {
	position: absolute;
	right: 65px;
	top: -35px;
	z-index: 5;
	width: 42px;
	height: 3px;
	background-color: #0e2c61;
	transform: rotate(45deg);
	transition: background-color 0.2s;
	
	&:after {
		content: "";
		position: absolute;
		width: 42px;
		height: 3px;
		background-color: #0e2c61;
		transform: rotate(-90deg);
		top: 0;
		left: 0;
		transition: background-color 0.2s;
	}
	
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: -20px;
		width: 42px;
		height: 42px;
	}
	
	&:hover {
		background-color: #006df0;
		
		&:after {
			background-color: #006df0;
		}
		
	}
	
}

.news-detail-cols {
	padding-left: 43px;
	padding-right: 15px;
	padding-bottom: 80px;
	border-bottom: 2px solid #ebebeb;
}

.news-detail-main {
	float: left;
	width: 715px;
}

.news-detail-date {
	margin-bottom: 2px;
	font-size: 18px;
	font-weight: 900;
}

.news-detail-caption {
	margin-bottom: 55px;
	font-size: 27px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 1.1em;
}

.news-detail-aside {
	float: right;
	width: 333px;
	padding-top: 33px;
}

.news-detail-btns {
	
	.download-btn {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		
		span {
			width: 170px;
			text-align: left;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
	}
}


.news-detail-comments {
	margin-bottom: 90px;
}

.add-comment-box {
	position: relative;
	padding-left: 90px;
	padding-top: 27px;
	padding-bottom: 35px;
	border-bottom: 2px solid #ebebeb;
}

.add-comment-avatar {
	position: absolute;
	left: 0;
	
	img {
		width: 58px;
		height: 58px;
		border-radius: 50%;
	}
	
}

.add-comment-name {
	margin-bottom: 15px;
	padding-top: 15px;
	font-weight: 700;
	font-size: 18px;
}

.add-comment-btn {
	max-width: 850px;
	
	a {
		display: block;
		height: 50px;
		padding: 12px 20px;
		text-decoration: none;
		background-color: #eef2f5;
		font-size: 14px;
		color: #7295d1;
		
		&:hover {
			background-color: #4085f2;
			color: #fff;
		}
		
	}
	
}

.news-comments-list {
	padding: 25px 0 70px 80px;
	border-bottom: 2px solid #ebebeb;
}

.news-comment-item {
	margin-bottom: 50px;
	
	&:last-child {
		margin-bottom: 0;
	}
	
}

.news-comment-question {
	max-width: 865px;
	padding-left: 88px;
	margin-bottom: 35px;
	position: relative;
	
	&__avatar {
		position: absolute;
		left: 0;
		
		img {
			width: 58px;
			height: 58px;
			border-radius: 50%;
		}
	}
	
	&__name {
		max-width: 660px;
		margin-bottom: 25px;
		padding-top: 15px;
		font-weight: 700;
		font-size: 18px;
	}
	
	&__date {
		position: absolute;
		right: 0;
		top: 15px;
	}
	
}

.news-comment-answer {
	max-width: 850px;
	min-height: 170px;
	margin-left: 60px;
	padding: 33px 30px 45px;
	position: relative;
	background-color: #eef2f5;
	
	&__box {
		position: relative;
		padding-left: 85px;
	}
	
	&__avatar {
		position: absolute;
		left: 0;
		
		img {
			width: 58px;
			height: 58px;
			border-radius: 50%;
		}
	}
	
	&__date {
		position: absolute;
		right: 44px;
		top: 10px;
	}
	
	&__name {
		max-width: 580px;
		margin-bottom: 30px;
		padding-top: 12px;
		font-weight: 700;
		font-size: 18px;
		
		i {
			display: inline-block;
			vertical-align: middle;
			width: 18px;
			height: 13px;
			margin: -5px 11px 0;
			background: url("../pic/answer-arrow@2x.png") no-repeat;
			background-size: contain;
		}
		
	}
	
	&__text {
		
		a {
			text-decoration: none;
			color: #4c87f6;
			
			&:hover {
				text-decoration: underline;
			}
			
		}
		
	}
	
}


.add-comment-modal {
	width: 1005px;
	padding: 75px 55px 90px;
}

.add-comment-auth-modal {
	width: 820px;
	padding: 50px 55px 90px;
}

.add-comment-auth-top {
	position: relative;
	padding-left: 87px;
	margin-bottom: 20px;
	
	&__avatar {
		position: absolute;
		left: 0;
		
		img {
			width: 58px;
			height: 58px;
			border-radius: 50%;
		}
		
	}
	
	&__name {
		margin-bottom: 33px;
		padding-top: 15px;
		font-weight: 700;
		font-size: 18px;
	}
	
}

.add-comment-auth-form {
	
	textarea {
		height: 200px;
		padding: 20px 25px;
		font-size: 14px;
	}
	
	.submit-box {
		margin-top: 55px;
		
		.dark-blue-btn {
			display: block;
			width: 100%;
			max-width: 333px;
			margin: 0 auto;
		}
		
	}
	
}


@media only screen and (max-width: 1200px) {
	
	.news-detail-main {
		width: 540px;
	}
	
	.current-news-close {
		top: -45px;
	}
	
}

@media only screen and (max-width: 1130px) {
	
	.add-comment-modal {
		width: 855px;
	}

}

@media only screen and (max-width: 991px) {
	
	.news-detail-box {
		padding-top: 45px;
	}
	
	.news-detail-cols {
		padding-right: 0;
		padding-left: 33px;
		padding-bottom: 55px;
	}
	
	.news-detail-main {
		width: 360px;
	}
	
	.news-detail-aside {
		width: 303px;
	}
	
	.current-news-close {
		top: -42px;
		right: 40px;
	}
	
	.news-detail-date {
		font-size: 16px;
	}
	
	.news-detail-caption {
		margin-bottom: 15px;
		font-size: 24px;
	}
	
	.add-comment-btn {
		max-width: 610px;
	}
	
	.news-comments-list {
		padding-left: 60px;
	}
	
	.news-comment-question__date {
		right: 45px;
	}
	
	.news-comment-question__name {
		max-width: 455px;
	}
	
	.news-comment-question__text {
		max-width: 500px;
	}
	
	.news-comment-answer {
		max-width: 612px;
	}
	
	.news-comment-answer__name {
		font-size: 16px;
	}
	
	.news-comment-answer__date {
		right: -3px;
	}
	
	.news-comment-answer__name {
		max-width: 370px;
	}
	
	.add-comment-modal {
		width: 615px;
	}
	
	.add-comment-auth-modal {
		width: 615px;
	}
	
	.add-comment-auth-top {
		padding-left: 80px;
	}
	
	.add-comment-auth-top__name {
		margin-bottom: 35px;
		font-size: 16px;
	}
	
}

@media only screen and (max-width: 767px) {
	
	.news-detail-box {
		padding-top: 17px;
	}
	
	.news-detail-cols {
		padding-left: 0;
	}
	
	.current-news-close {
		top: -33px;
		right: 0;
		width: 32px;
		
		&:after {
			width: 32px;
		}
		
		&:before {
			top: -15px;
			width: 32px;
			height: 32px;
		}
		
	}
	
	.news-detail-main {
		width: auto;
		float: none;
	}
	
	.news-detail-aside {
		width: auto;
		float: none;
		padding-top: 20px;
		max-width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.news-detail-date {
		font-size: 14px;
	}
	
	.news-detail-caption {
		font-size: 20px;
	}
	
	.news-detail-comments {
		margin-bottom: 50px;
	}
	
	.add-comment-box {
		padding: 50px 0;
	}
	
	.add-comment-name {
		margin-bottom: 23px;
		padding-left: 60px;
		padding-top: 12px;
		font-size: 16px;
	}
	
	.add-comment-avatar img {
		width: 46px;
		height: 46px;
	}
	
	.news-comments-list {
		padding-left: 35px;
		padding-top: 35px;
		padding-bottom: 55px;
	}
	
	.news-comment-question__avatar {
		top: -3px;
	}
	
	.news-comment-question__avatar img {
		width: 46px;
		height: 46px;
	}
	
	.news-comment-question {
		padding-left: 63px;
	}
	
	.news-comment-question__date {
		position: static;
		font-size: 12px;
	}
	
	.news-comment-question__name {
		padding-top: 0;
		margin-top: -3px;
		margin-bottom: 15px;
		font-size: 16px;
	}
	
	.news-comment-question__text {
		margin-left: -43px;
	}
	
	.news-comment-answer {
		margin-left: -12px;
		padding: 43px 22px;
	}
	
	.news-comment-answer__avatar {
		top: -5px;
	}
	
	.news-comment-answer__avatar img {
		width: 46px;
		height: 46px;
	}
	
	.news-comment-answer__box {
		padding-left: 55px;
	}
	
	.news-comment-answer__date {
		position: static;
		margin-bottom: 1px;
		font-size: 12px;
		line-height: 1.3em;
	}
	
	.news-comment-answer__name {
		margin-bottom: 25px;
		padding-top: 0;
		font-size: 14px;
	}
	
	.news-comment-answer__name i {
		margin: -2px 8px 0;
	}
	
	.news-comment-answer__text {
		margin-left: -45px;
	}
	
	.add-comment-modal {
		width: 100%;
		padding: 55px 25px 65px;
	}
	
	.add-comment-auth-modal {
		width: 100%;
		padding: 55px 25px 65px;
	}
	
	.add-comment-auth-top {
		padding-left: 65px;
	}
	
	.add-comment-auth-top__avatar img {
		width: 46px;
		height: 46px;
	}
	
	.add-comment-auth-top__name {
		padding-top: 12px;
	}
	
	.add-comment-auth-form .submit-box {
		margin-top: 25px;
	}

}