/* ==|====================
   Page 404
   ======================= */

.page-404-wrap {
	height: 100vh;
	background: url("../pic/page-404-bg-lg.jpg") center no-repeat;
	background-size: cover;
	color: #fff;
	overflow: hidden;
}

.page-404-box {
	padding-top: 20vh;
	padding-left: 5vw;
}

.page-404-content {
	max-width: 490px;
	
	h2 {
		margin-bottom: 22px;
		line-height: 48px;
	}
	
}

.page-404-to-main {
	
	a {
		color: #fff;
	}
	
}


@media only screen and (max-width: 1600px) {
	
	.page-404-box {
		padding-left: 2vw;
	}

}

@media only screen and (max-width: 1380px) {
	
	.page-404-box {
		padding-top: 15vh;
	}
	
	.page-404-content {
		max-width: 400px;
	}
	
	.page-404-content h2 {
		font-size: 27px;
		line-height: 41px;
	}

}

@media only screen and (max-width: 1300px) {

	.page-404-wrap {
		background: url("../pic/page-404-bg-md.jpg") center 20% no-repeat;
	}
	
	.page-404-box {
		padding-left: 10vw;
	}
	
	.page-404-content {
		max-width: 440px;
	}

}

@media only screen and (max-width: 1200px) {

	.page-404-wrap {
		background: url("../pic/page-404-bg-sm.jpg") center 20% no-repeat;
	}
	
	.page-404-box {
		padding-left: 0;
	}
	
	.page-404-content {
		max-width: 420px;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (max-width: 585px) {
	
	.page-404-wrap {
		background: url("../pic/page-404-bg-xs.jpg") center 20% no-repeat;
	}
	
	.page-404-box {
		padding-top: 12vh;
	}
	
	.page-404-content {
		max-width: 235px;
	}
	
	.page-404-content h2 {
		margin-bottom: 5px;
		font-size: 15px;
		line-height: 24px;
	}
	
	.page-404-to-main a {
		font-size: 14px;
	}
	
}