/* ==|====================
   Portfolio
   ======================= */

.portfolio-wrapper {
	
	.products-slider-section {
		border: none;
		margin: 0;
		padding: 0;
	}
	
	.services-toggle-item-head {
		border: 1px solid #0e2c61;
	}
	
	.services-toggle-item-head__content {
		width: 73%;
	}
	
	.services-toggle-item-head__pic {
		width: 27%;
		padding: 20px;
		text-align: center;
		background-color: #fff;
		line-height: 260px;
		
		img {
			max-width: 100%;
			max-height: 100%;
		}
		
	}
	
	.services-toggle-item-head__caption {
		max-width: 470px;
	}

}

@media only screen and (max-width: 1200px) {
	
	.portfolio-wrapper .services-toggle-item-head__content {
		width: 68%;
	}
	
	.portfolio-wrapper .services-toggle-item-head__pic {
		width: 32%;
	}

}

@media only screen and (max-width: 991px) {
	
	.portfolio-wrapper .services-toggle-item-head__content {
		width: 59%;
	}
	
	.portfolio-wrapper .services-toggle-item-head__pic {
		width: 41%;
	}

}

@media only screen and (max-width: 767px) {
	
	.portfolio-wrapper .services-toggle-item-head {
		height: 330px;
	}
	
	.portfolio-wrapper .services-toggle-item-head__pic {
		width: auto;
		height: 181px;
		line-height: 140px;
		
		img {
			max-width: 80%;
		}
		
	}
	
	.portfolio-wrapper .services-toggle-item-head__content {
		width: auto;
		height: 148px;
	}
	
	.services-toggle-item-head__note {
		margin-top: 5px;
		font-size: 12px;
		padding-left: 15px;
	}

}