/* ===========================
   Base
   =========================== */

html,
button,
input,
select,
textarea {
	color: #333;
}

* {
	word-wrap: break-word;
}

html {
	font-size: 1em;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

img {
	max-width: 100%;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input:invalid, textarea:invalid {
	box-shadow: none;
}

textarea {
	resize: none;
	overflow: auto;
}

input:not([type="checkbox"], [type="radio"]), button, textarea {
	outline: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

input {
	outline: none;
}

object {
	display: block;
}

embed {
	display: block;
}

.owl-item {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.slick-slide, .slick-list {
	outline: none !important;
}


/* Author's custom styles */


body {
	font-family: $mainFont;
	font-size: 18px;
	color: #494949;
	line-height: 1.445em;
	font-weight: 300;
	background-color: #fff;
	position: relative;
}

.container {
	width: auto !important;
	max-width: 1200px !important;
}

.container-1140 {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.container-1005 {
	max-width: 1005px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 1200px) {
	
	.container {
		max-width: 1000px !important;
	}

}

@media only screen and (max-width: 991px) {
	
	.container {
		max-width: 780px !important;
	}
	
	body {
		font-size: 16px;
		line-height: 24px;
	}

}

h1 {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 55px;
	line-height: 1.3em;
	font-weight: 100;
	letter-spacing: 0.02em;
}

h2 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 1.47em;
	font-weight: 500;
	text-transform: uppercase;
}

h3 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 1.55em;
	font-weight: 500;
}

h4, h5 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 1.4em;
	font-weight: 500;
}

@media only screen and (max-width: 991px) {
	
	h1 {
		font-size: 44px;
	}
	
	h2 {
		font-size: 27px;
		line-height: 41px;
	}
	
}

@media only screen and (max-width: 767px) {
	
	h1 {
		font-size: 33px;
	}
	
	h2 {
		font-size: 20px;
		line-height: 31px;
	}
	
	body {
		font-size: 14px;
		line-height: 22px;
	}
	
}

b, strong {
	font-weight: 500;
}

i, em {
	font-style: italic;
}

p {
	margin: 20px 0;
}

a {
	color: #124191;
	text-decoration: underline;
	transition: 0.2s;
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #124191;
}

input, textarea {
	font-family: $mainFont;
	outline: none;
}

input[type="text"] {
	padding: 0 15px;
}

textarea {
	resize: none;
	overflow: auto;
	padding: 5px 15px;
}

ul, ol {
	padding-left: 20px;
	margin: 20px 0;
}

ul li, ol li {
	margin: 0;
	padding: 0;
}

::-webkit-input-placeholder {color:#7295d1;}
::-moz-placeholder          {color:#7295d1;}
:-moz-placeholder           {color:#7295d1;}
:-ms-input-placeholder      {color:#7295d1;}

button {
	font-family: $mainFont;
	font-weight: normal;
}

table {
	font-family: $mainFont;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea {
	height: 50px;
	padding: 0 15px;
	width: 100%;
	transition: 0.2s;
	line-height: 1em;
	font-size: 14px;
	border: 1px solid transparent;
	background-color: #eef2f5;
	color: #494949;
	border-radius: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	
	&:not(:placeholder-shown) {
		background-color: #fff;
		border-color: #acacac;
	}
	
}

textarea {
	padding: 15px 15px;
	min-height: 0;
	height: 200px;
	line-height: 1.3em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus {
	border-color: #7295d1;
	background-color: #fff;
}

.select-wrap {
	width: 100%;
	position: relative;
	border: 1px solid #f3efea;
	height: 34px;
	border-radius: 40px;
	z-index: 1;
	
	&:after {
		content: "\f107";
		display: inline-block;
		line-height: 1em;
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -7px;
		font-family: "FontAwesome", sans-serif;
		font-size: 15px;
		z-index: -1;
	}
	
}

.has-error {
	position: relative;
	
	input {
		padding-right: 60px;
		color: #ff127c;
		border-color: #ff127c !important;
	}
	
	&:after {
		content: "!";
		padding-top: 13px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 50px;
		background-color: #ff3387;
		font-size: 36px;
		text-align: center;
		font-weight: 500;
		color: #fff;
	}
	
}

select {
	height: 100%;
	cursor: pointer;
	padding: 0 15px;
	outline: none;
	font-size: 14px;
	width: 100%;
	border: none;
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

input[type="checkbox"],
input[type="radio"] {
	display:none;
}
input[type="checkbox"] + i,
input[type="radio"] + i {
	cursor: pointer;
}
input[type="checkbox"] + i::before,
input[type="radio"] + i::before {
	content: "";
	display: inline-block;
	height: 27px;
	width: 27px;
	vertical-align: -1px;
	margin: 0 18px 0 0;
	background-image: url("../pic/checkbox-icon.png");
	background-repeat: no-repeat;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	input[type="checkbox"] + i::before {
		background-image: url("../pic/checkbox-icon@2x.png");
		background-size: 54px 27px;
	}
}

input[type="checkbox"] + i::before,
input[type="radio"] + i::before {
	background-position: 0 0;
}
input[type="checkbox"]:checked + i::before,
input[type="radio"]:checked + i::before {
	background-position: -27px 0;
}

input[type="radio"] + i::before {
	//background-image: url("../pic/radio-icon.png");
	width: 21px;
	height: 21px;
}

input[type="radio"]:checked + i::before {
	background-position: -21px 0;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	input[type="radio"] + i::before {
		//background-image: url("../pic/radio-icon@2x.png");
		background-size: 42px 21px;
	}
}

.checkbox-label {
	cursor: pointer;
	display: table;
	line-height: 14px;
	font-size: 14px;
	color: #7295d1;
}

.checkbox-label input[type="checkbox"] + i,
.checkbox-label input[type="radio"] + i {
	display: table-cell;
	vertical-align: top;
}

.checkbox-label span {
	display: table-cell;
	padding-top: 3px;
	vertical-align: top;
}

.checkbox-label span i {
	display: inline-block;
	font-style: normal;
	font-weight: 300;
	transition: 0.2s;
	line-height: 1.5em;
}

.arrow-btn {
	display: inline-block;
	padding: 13px 20px 17px;
	text-decoration: none !important;
	text-align: center;
	color: #124191 !important;
	border: 1px solid #124191;
	font-size: 14px;
	font-weight: 300;
	transition: border-color 0.2s, background-color 0.2s;
	line-height: 1.2em;
	background-color: transparent;
	
	span {
		display: inline-block;
		transition: color 0.2s;
		vertical-align: middle;
	}
	
	i {
		display: inline-block;
		width: 32px;
		height: 11px;
		margin-left: 18px;
		font-style: normal;
		vertical-align: middle;
		position: relative;
		margin-top: 2px;
		transition: right 0.2s;
		right: 0;
		
		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 32px;
			height: 11px;
			background: url("../pic/right-arrow.png") no-repeat;
			transition: opacity 0.2s;
			
		}
		
		&:before {
			opacity: 1;
			background-position: top;
		}
		
		&:after {
			opacity: 0;
			background-position: bottom;
		}
		
	}
	
	&:hover {
		background-color: #0e2c61;
		border-color: #0e2c61;
		color: #fff !important;
		
		span {
			color: #fff;
		}
		
		i {
			
			right: -10px;
		
			&:before {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		
		}
		
		
	}
	
	&.dark-blue-btn {
		background-color: #0e2c61 !important;
		color: #fff !important;
		font-size: 18px;
		border-color: transparent !important;
		
		&:hover {
			background-color: #4085f2 !important;
		}
		
	}
	
	&.white-btn {
		border-color: #fff !important;
		color: #fff !important;
		
		i {
			
			&:before {
				background-position: bottom;
			}
		
		}
		
		&:hover {
			background-color: #4085f2 !important;
			border-color: #4085f2 !important;
		}
		
	}
	
	&.download-btn {
		
		s {
			display: inline-block;
			margin-left: 17px;
			width: 12px;
			height: 17px;
			position: relative;
			bottom: 2px;
			text-decoration: none;
			vertical-align: middle;
			
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 2px;
				background-color: #124191;
			}
			
			&:before {
				content: "";
				position: absolute;
				width: 12px;
				height: 14px;
				left: 0;
				top: 0;
				background: url("../pic/download-arrow.png") no-repeat;
			}
			
		}
		
		&:hover {
			background-color: #4085f2;
			border-color: #4085f2;
			
			s {
				
				&:after {
					background-color: #fff;
				}
				
				&:before {
					background-position: bottom;
					animation: MoveUpDown 1s linear infinite;
				}
				
			}
			
		}
		
	}
	

}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	
	.arrow-btn.download-btn s::before {
		background-image: url("../pic/download-arrow@2x.png");
		background-size: 12px 28px;
	}
}

@keyframes MoveUpDown {
	0%, 100% {
		top: 0;
	}
	50% {
		top: -3px;
	}
}

.webkit {
	
	.arrow-btn {
		padding: 16px 20px;
		
		i {
			margin-top: -1px;
		}
		
	}
	
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	
	.arrow-btn i:before, .arrow-btn i:after {
		background-image: url("../pic/right-arrow@2x.png");
		background-size: 32px 22px;
	}
}

.clear {
	clear: both;
}

.input-box {
	margin-bottom: 26px;
	position: relative;
}

.error-text {
	color: red;
}

.submit-box {
	margin-top: 25px;
	text-align: center;
}

.page-wrapper {
	position: relative;
}

.scroll-to-top {
	display: block;
	padding-top: 9px;
	position: fixed;
	right: 50%;
	margin-right: -631px;
	bottom: 485px;
	text-decoration: none !important;
	width: 46px;
	height: 46px;
	color: #fff !important;
	background-color: #b3c2ff;
	text-align: center;
	font-size: 24px;
	opacity: 0;
	visibility: hidden;
	z-index: 110;
	
	&.visible {
		opacity: 1;
		visibility: visible;
	}
	
	&:hover {
		background-color: #0e2c61;
	}
	
}

@media only screen and (max-width: 1300px) {
	
	.scroll-to-top {
		width: 36px;
		height: 36px;
		margin-right: 0;
		right: 15px;
		font-size: 20px;
		bottom: 15px;
		padding-top: 7px;
	}

}

.more-btn {
	display: block;
	position: relative;
	text-decoration: none !important;
	width: 50px;
	height: 50px;
	border: 1px solid #124191;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	transition: 0.2s;
	line-height: 1.35em;
	
	&:after {
		content: "\f105";
		font-family: "FontAwesome", sans-serif;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: 2px;
		top: 10.5px;
	}
	
	&:hover {
		background-color: #0e2c61 !important;
		border-color: #0e2c61;
		color: #fff;
	}
	
	&.white-btn {
		border-color: #fff;
		color: #fff;
		
		&:hover {
			border-color: #4085f2;
			background-color: #4085f2 !important;
		}
		
	}
	
}


.regular-page-box {
	padding-top: 55px;
	min-height: 300px;
	position: relative;
	
	.projects-section {
		margin-bottom: 0;
	}
	
	h1 {
		max-width: 800px;
	}
	
	&.has-pattern-bg {
		overflow: hidden;
		margin-bottom: -85px;
		padding-bottom: 85px;
	
		&:before {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 609px;
			height: 1370px;
			background: url("../pic/top-pattern-bg.png") no-repeat;
			z-index: -1;
		}
	
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 275px;
			height: 295px;
			background: url("../pic/bottom-pattern-bg.png") no-repeat;
			z-index: -1;
		}
		
		&.news-pattern-bg {
			
			&:before {
				width: 863px;
				height: 1976px;
				right: 0;
				background: url("../pic/news-top-pattern-bg.png") no-repeat;
			}
			
		}
	
	}
	
}

.blue-marker {
	list-style: none;
	margin: 0;
	padding: 0;
	
	> li {
		padding-left: 40px;
		margin-bottom: 18px;
		position: relative;
		
		&:before {
			content: "";
			position: absolute;
			width: 22px;
			height: 22px;
			left: 0;
			top: 2px;
			background: url("../pic/circle-list-marker.png") no-repeat;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
	}
	
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	
	.blue-marker > li:before {
		background-image: url("../pic/circle-list-marker@2x.png");
		background-size: 22px 22px;
	}

}

@media only screen and (max-width: 991px) {
	
	.blue-marker > li:before {
		top: 1px;
	}
	
	.regular-page-box.has-pattern-bg {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	
	.regular-page-box.has-pattern-bg::before,
	.regular-page-box.has-pattern-bg::after {
		display: none !important;
	}

}

@media only screen and (max-width: 767px) {
	
	.regular-page-box {
		padding-top: 20px;
	}
	
	.blue-marker > li:before {
		top: 0;
	}
	
}


/* fancybox */

.fancybox-container {
	font-family: Roboto, sans-serif !important;
}

.fancybox-bg {
	background: #070707;
}

.fancybox-is-open .fancybox-bg {
	opacity: 0.45;
}


/* products slider section */

.products-slider-section {
	
	h2 {
		margin-bottom: 60px;
		padding-left: 15px;
	}
	
}

.products-slider-box {
	position: relative;
	padding-bottom: 70px;
	
	&:after {
		content: "";
		display: none;
		position: absolute;
		right: 0;
		width: 65px;
		top: 0;
		bottom: 0;
		z-index: 10;
		background: rgb(255,255,255);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	}
	
}

.products-slider {

	.swiper-slide {
		width: 360px;
	}

}

.products-slide-item {
	display: block;
	height: 356px;
	overflow: hidden;
	position: relative;
	text-decoration: none !important;
	border: 1px solid #124191;
	background-color: #fff;
	
	&:hover {
		background-color: #fbfcff;
	}
	
	&__head {
		height: 152px;
		padding: 36px 40px;
		background-color: #e3eeff;
	}
	
	&__icon {
		height: 79px;
		
		img {
			max-height: 100%;
		}
		
	}
	
	&__body {
		padding: 30px 40px;
	}
	
	&__caption {
		max-width: 225px;
		font-size: 22px;
		line-height: 34px;
		color: #494949;
		font-weight: 500;
	}
	
	.more-btn {
		position: absolute;
		right: 30px;
		bottom: 30px;
	}
	
}

.products-slider-controls {
	position: absolute;
	max-width: 110px;
	margin: 0 auto;
	bottom: 0;
	left: 40px;
	right: 40px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 26px;
	
	> div {
		display: inline-block;
		margin: 0 10px;
		outline: none;
		font-size: 14px;
	}
	
	.slide-counter {
		letter-spacing: 0.2em;
		margin: 0;
		padding: 0;
		font-size: 14px;
		color: #124191;
	}
	
	.prev-project-slide,
	.next-project-slide {
		position: absolute;
		top: 2px;
		width: 14px;
		height: 25px;
		cursor: pointer;
		background: url("../pic/gray-nav-arrows.png") no-repeat;
		transition: left 0.2s, right 0.2s;
		
		&:hover {
			width: 33px;
		}
		
		&:before {
			content: "";
			position: absolute;
			left: -15px;
			right: -15px;
			top: -20px;
			bottom: -20px;
		}
		
	}
	
	.prev-project-slide {
		background-position: 0 0;
		left: 0;
		
		&:hover {
			background-position: 0 -50px;
			left: -13px;
		}
		
	}
	
	.next-project-slide {
		background-position: -19px -25px;
		right: 0;
		
		&:hover {
			right: -13px;
			background-position: 0 -75px;
		}
		
	}

}

@media only screen and (max-width: 1200px) {
	
	.products-slider-box:after {
		display: block;
	}

}

@media only screen and (max-width: 991px) {
	
	.products-slider-controls {
		line-height: 30px;
	}

}

@media only screen and (max-width: 767px) {
	
	.products-slider-section h2 {
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		margin-bottom: 40px;
	}
	
	.products-slider-box:after {
		display: none;
	}
	
	.products-slider .swiper-slide {
		width: auto;
	}
	
	.products-slide-item {
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
	}

}

.b-content {
	
	p {
		margin: 17px 0;
	}
	
	ul {
		margin: 17px 0;
		
		padding-left: 45px;
		
		li {
			margin-bottom: 8px;
			
			&:last-child {
				margin-bottom: 0;
			}
			
		}
		
		
	}
	
	a {
		text-decoration: none;
		color: #4c87f6;
		
		&:hover {
			text-decoration: underline;
		}
		
	}
	
}

@media only screen and (max-width: 767px) {
	
	.b-content ul {
		padding-left: 25px;
	}

}