/* ==|====================
   BIM-management
   ======================= */

.bim-management-wrapper {
	margin-top: -5px;
	
	.products-slider-section {
		padding-bottom: 90px;
		margin-bottom: 90px;
		border-bottom: 2px solid #ebebeb;
	}
	
}

.bim-management-info {
	padding-left: 47px;
	max-width: 1075px;
	margin-bottom: 95px;
	
	p {
		margin: 30px 0;
	}
	
}

.services-toggle-items {
	margin-bottom: 85px;
	padding-bottom: 60px;
	border-bottom: 2px solid #ebebeb;
}

.services-toggle-item {
	margin-bottom: 60px;
	
	&:last-child {
		margin-bottom: 0;
	}
	
}

.services-toggle-item-head {
	height: 310px;
	position: relative;
	background-color: #0e2c61;
	color: #fff;
	
	&__pic {
		position: absolute;
		width: 50%;
		right: 0;
		top: 0;
		bottom: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	&__content {
		width: 50%;
		height: 100%;
		padding: 50px 45px;
		position: relative;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
		.more-btn {
			position: absolute;
			right: 65px;
			bottom: 45px;
			
			&.toggle-btn {
				
				&:after {
					content: "\f107";
					transition: transform 0.2s;
				}
				
				&.active {
					border-color: #7295d1;
					color: #7295d1;
					
					&:after {
						transform: rotate(-180deg);
					}
					
					&:hover {
						border-color: transparent;
						color: #fff;
					}
					
				}
				
			}
			
		}
		
	}
	
	&__caption {
		max-width: 400px;
		font-size: 30px;
		font-weight: 500;
		line-height: 44px;
		text-transform: uppercase;
	}
	
	&__note {
		margin-top: 23px;
		padding-left: 20px;
		text-transform: uppercase;
		font-weight: 400;
	}
	
}

.services-toggle-item-body {
	display: none;
	
	&__box {
		max-width: 830px;
		padding: 40px 0 40px 60px;
	}
	
}

@media only screen and (max-width: 991px) {
	
	.bim-management-info {
		margin-bottom: 75px;
	}
	
	.services-toggle-item-head__content {
		width: 60%;
	}
	
	.services-toggle-item-head__pic {
		width: 40%;
	}
	
	.services-toggle-item-head__caption {
		font-size: 27px;
		line-height: 41px;
	}

}

@media only screen and (max-width: 767px) {
	
	.bim-management-info {
		padding-left: 25px;
		margin-bottom: 50px;
		
		p {
			margin: 20px 0;
		}
		
	}
	
	.services-toggle-items {
		margin-bottom: 50px;
		padding-bottom: 40px;
	}
	
	.services-toggle-item {
		margin-bottom: 45px;
	}
	
	.services-toggle-item-head {
		height: 286px;
		border: 1px solid #124191;
	}
	
	.services-toggle-item-head__pic {
		position: static;
		width: 100%;
		height: 117px;
	}
	
	.services-toggle-item-head__content {
		width: 100%;
		height: 169px;
		padding: 30px 23px;
	}
	
	.services-toggle-item-head__caption {
		font-size: 16px;
		line-height: 28px;
	}
	
	.services-toggle-item-head__content .more-btn {
		right: 20px;
		bottom: 20px;
	}
	
	.bim-management-wrapper .products-slider-section {
		padding-bottom: 70px;
		margin-bottom: 40px;
	}
	
	.services-toggle-item-body__box {
		padding-left: 0;
		padding-top: 25px;
		padding-bottom: 0;
	}
	
	
}