/* ==|====================
   Contacts
   ======================= */

.contacts-wrapper {
	margin-top: 45px;
}

.contacts-common-email {
	margin-bottom: 50px;
	padding-left: 7px;
	font-size: 30px;
	
	span {
		font-weight: 400;
	}
	
	a {
		color: #006df0;
		
		&:hover {
			color: #124191;
		}
		
	}
	
}

.contacts-manager-col {
	margin-bottom: 30px;
}

.contacts-managers-items {
	margin-bottom: 17px;
}

.contacts-manager-item {
	height: 375px;
	background-color: #efefef;
	position: relative;
	color: #fff;
	overflow: hidden;
	font-size: 18px;
	
	&__photo {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: #0e2c61;
			transition: opacity 0.2s;
			opacity: 0;
		}
		
	}
	
	&:hover {
		
		.contacts-manager-item__photo {
			
			&:before {
				opacity: 1;
			}
			
		}
		
	}
	
	&__content {
		height: 100%;
		padding: 70px 65px;
		position: relative;
		z-index: 5;
	}
	
	&__name {
		margin-bottom: 43px;
		line-height: 32px;
		font-weight: 500;
	}
	
	&__list {
		
		span {
			display: block;
			
			i {
				margin-right: 5px;
				font-style: normal;
			}
			
			a {
				text-decoration: none;
				color: #fff;
				
				&.email {
					color: #4499ff;
				}
				
				&:hover {
					color: #4085f2 !important;
				}
				
			}
			
		}
		
	}
	
}

.contacts-work-info {
	max-width: 820px;
	padding-left: 65px;
	margin-bottom: 55px;
}

.contacts-feedback {
	margin-bottom: 40px;
	padding: 70px 55px;
	border: 1px solid #ebebeb;
}

.contacts-feedback-form {
	
	textarea {
		height: 202px;
	}
	
	.submit-box {
		margin-top: 30px;
		
		.arrow-btn {
			display: block;
			width: 100%;
			max-width: 333px;
			margin: 0 auto;
		}
		
	}
	
}


@media only screen and (max-width: 1200px) {
	
	.contacts-wrapper {
		
		.container-1005 {
			max-width: 840px;
		}
		
	}
	
	.contacts-manager-item {
		height: 315px;
	}
	
	.contacts-manager-item__content {
		padding: 40px 50px;
	}
	
	.contacts-manager-item__name {
		font-size: 18px;
		line-height: 30px;
	}
	
}

@media only screen and (max-width: 991px) {
	
	.contacts-wrapper {
		margin-top: 25px;
	}
	
	.contacts-common-email {
		margin-bottom: 30px;
		padding: 0;
		font-size: 24px;
	}
	
	.contacts-wrapper {
		
		.container-1005 {
			max-width: 695px;
		}
		
	}
	
	.contacts-manager-item {
		height: 260px;
	}
	
	.contacts-manager-item__content {
		padding: 30px 50px;
	}
	
	.contacts-manager-item__name {
		min-height: 72px;
		margin-bottom: 25px;
		font-size: 16px;
		line-height: 24px;
	}
	
	.contacts-managers-items {
		margin-bottom: 0;
	}
	
	.contacts-work-info {
		margin-bottom: 50px;
		padding-left: 30px;
		max-width: 650px;
	}
	
	.contacts-feedback {
		max-width: 615px;
		margin: 0 auto;
	}
	
	.contacts-feedback-form .submit-box {
		margin-top: 60px;
	}
	
}

@media only screen and (max-width: 767px) {
	
	.contacts-wrapper {
		margin-top: -10px;
	}
	
	.contacts-common-email {
		font-size: 16px;
	}
	
	.contacts-manager-item__content {
		padding: 30px;
	}
	
	.contacts-manager-item__list {
		font-size: 14px;
	}
	
	.contacts-manager-col {
		margin-bottom: 25px;
	}
	
	.contacts-work-info {
		padding-left: 0;
	}
	
	.contacts-feedback {
		padding: 50px 22px;
	}
	
	.contacts-feedback-form .submit-box {
		margin-top: 26px;
	}
	
}