/* ==|====================
   LK
   ======================= */

.lk-wrapper {
	margin-top: 35px;
}

.lk-box {
	max-width: 1005px;
	padding: 25px 25px 105px;
	margin: 0 auto;
	border: 1px solid #ebebeb;
}

.lk-form {
	max-width: 435px;
	padding-top: 80px;
	margin: 0 auto;
	
	&__avatar {
		margin-bottom: 40px;
		text-align: center;
		
		img {
			width: 133px;
			height: 133px;
			border-radius: 50%;
		}
		
	}
	
	.input-box {
		position: relative;
		height: 47px;
		padding: 0 15px;
		white-space: nowrap;
		border-bottom: 2px solid #eef2f5;
		
		span {
			display: inline-block;
			white-space: nowrap;
			margin-right: 5px;
			font-size: 18px;
		}
		
		input {
			display: inline-block;
			font-size: 18px;
			width: 250px;
			padding: 0;
			border: none;
			height: 40px;
			background: transparent !important;
			color: #494949;
		}
		
		.edit-this-input {
			display: block;
			position: absolute;
			width: 23px;
			height: 22px;
			right: -33px;
			bottom: -2px;
			background: url("../pic/edit-icon.png") no-repeat;
			background-size: contain;
		}
		
	}
	
	.regular-input-box {
		margin-bottom: 25px;
		
		&:last-of-type {
			margin-bottom: 0;
		}
		
	}
	
	.submit-box {
		margin: 60px auto 0;
		max-width: 333px;
		
		.arrow-btn {
			display: block;
			margin-bottom: 20px;
			width: 100%;
			
			&:last-child {
				margin-bottom: 0;
			}
			
		}
		
		button {
			background-color: #006df0 !important;
			
			&:hover {
				background-color: #0e2c61 !important;
			}
			
		}
		
	}
	
}

@media only screen and (max-width: 767px) {
	
	.lk-form {
		padding-top: 0;
	}
	
	.lk-form__avatar img {
		width: 103px;
		height: 103px;
	}
	
	.lk-box {
		padding: 35px 15px 55px;
	}
	
	.lk-form .input-box {
		margin-bottom: 16px;
		width: 91.5%;
	}
	
	.lk-form .input-box span {
		font-size: 14px;
	}
	
	.lk-form .input-box input {
		font-size: 14px;
	}
	
	.lk-form .regular-input-box {
		margin-top: 22px;
		margin-bottom: 0;
	}
	
	.lk-form .submit-box {
		margin-top: 40px;
	}
	
}

@media only screen and (max-width: 480px) {
	
	.lk-form .input-box {
		width: 88%;
	}
	
	.lk-form .input-box input {
		width: 105px;
	}

}