/* ==|====================
   Products Page
   ======================= */

.products-head-section {
	padding: 55px 0 0;
	min-height: 335px;
	background: url("../pic/products-head-section-bg.jpg") center no-repeat #0e2c61;
	background-size: cover;
	overflow: hidden;
	
	h1 {
		margin-bottom: 40px;
		padding: 0 15px;
		color: #fff;
	}
	
}

.top-products-slider-box {
	margin-left: -20px;
	position: relative;
}

.products-head-item {
	display: none;
	position: relative;
	padding: 0 20px 85px;
	color: #fff !important;
	font-size: 16px;
	text-decoration: none !important;
	line-height: 1.5em;
	
	&:after {
		content: "";
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background-position: center bottom;
		background-repeat: no-repeat;
	}
	
	&__caption {
		margin-bottom: 13px;
		font-weight: 900;
		transition: color 0.2s;
		color: #fff;
	}
	
	&__about {
		min-height: 48px;
		max-width: 130px;
		transition: color 0.2s;
		color: #fff;
		font-weight: 400;
	}
	
	&:hover {
		
		.products-head-item__caption {
			color: #4085f2;
		}
		
		.products-head-item__about {
			color: #4085f2;
		}
		
	}
	
	&.current {
	
		.products-head-item__caption {
			color: #7295d1;
		}
		
		.products-head-item__about {
			color: #7295d1;
			font-weight: 500;
		}
		
		&:after {
			display: block;
		}
	
	}
	
	&.product-1 {
		&:after {
			height: 62px;
			background-image: url("../pic/product-pattern-1.png");
		}
	}
	&.product-2 {
		&:after {
			height: 109px;
			background-image: url("../pic/product-pattern-2.png");
		}
	}
	&.product-3 {
		&:after {
			height: 66px;
			background-image: url("../pic/product-pattern-3.png");
		}
	}
	&.product-4 {
		&:after {
			height: 72px;
			background-image: url("../pic/product-pattern-4.png");
		}
	}
	&.product-5 {
		&:after {
			height: 80px;
			background-image: url("../pic/product-pattern-5.png");
		}
	}
	&.product-6 {
		&:after {
			height: 85px;
			background-image: url("../pic/product-pattern-6.png");
		}
	}
	&.product-7 {
		&:after {
			height: 100px;
			background-image: url("../pic/product-pattern-7.png");
		}
	}
	
}

.top-products-slider.swiper-container-horizontal {
	
	.products-head-item {
		display: block;
	}
	
}

.prod-slider-bullets {
	display: none;
	min-height: 12px;
	
	span {
		width: 12px;
		height: 12px;
		margin-right: 6px;
		border-radius: 50%;
		background-color: transparent;
		border: 1px solid #5371b6;
		outline: none !important;
		transition: 0.2s;
		opacity: 1;
		
		&:hover {
			background-color: #394c74;
		}
		
		&.swiper-pagination-bullet-active {
			background-color: #5472b6;
			border-color: #5472b6;
		}
		
	}
	
}

.top-products-slider-nav {
	display: none;
	
	> div {
		position: absolute;
		width: 35px;
		height: 35px;
		top: 17px;
		background: url("../pic/top-slider-arrows.png") no-repeat;
		z-index: 5;
		cursor: pointer;
		outline: none;
		
		&.prev-product-slide {
			left: -50px;
			background-position: left;
		}
		&.next-product-slide {
			right: -50px;
			background-position: right;
		}
		
		&.swiper-button-disabled {
			display: none;
		}
		
	}
	
}

@media only screen and (max-width: 1200px) {
	
	.top-products-slider-box {
		margin-left: 0;
	}
	
	.products-head-item__about {
		font-size: 14px;
		line-height: 24px;
	}
	
	.products-head-item {
		padding-left: 12px;
		padding-right: 12px;
	}

}

@media only screen and (max-width: 991px) {
	
	.products-head-section {
		padding: 37px 0 0;
		min-height: 327px;
	}
	
	.products-head-section h1 {
		margin-bottom: 5px;
		padding: 0;
	}
	
	.prod-slider-bullets {
		display: block;
		margin-bottom: 35px;
	}
	
	.top-products-slider-nav {
		display: block;
	}
	
	.products-head-item {
		padding: 0 15px 85px;
	}
	
	.products-head-item__about {
		max-width: 115px;
	}

}

@media only screen and (max-width: 880px) {
	
	.top-products-slider-box {
		padding: 0 50px;
	}
	
	.top-products-slider-nav > div.prev-product-slide {
		left: 0;
	}
	.top-products-slider-nav > div.next-product-slide {
		right: 0;
	}

}

@media only screen and (max-width: 767px) {
	
	.products-head-item:after {
		display: none !important;
	}
	
	
	
	.top-products-slider-box {
		padding: 0 20px;
	}
	
	.top-products-slider-nav > div {
		width: 24px;
		height: 24px;
		background-size: 48px 24px;
	}

}

@media only screen and (max-width: 370px) {
	
	.products-head-item {
		max-width: 140px;
		margin-left: auto;
		margin-right: auto;
	}

}


/* product page */

.product-wrapper {
	padding: 0 15px;
	margin-top: 5px;
	
	h2 {
		margin-bottom: 12px;
	}
	
}

.product-main {
	float: left;
	width: 730px;
}

.product-desc {
	
	p {
		&:first-child {
			margin-top: 0;
		}
	}
	
}

.product-aside {
	float: right;
	width: 333px;
	padding-top: 5px;
}

.product-btns {
	
	a {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		
		span {
			width: 85%;
			text-align: left;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
	}
	
}

.product-what-new {
	margin-top: 50px;
	padding-left: 45px;
	
	&__caption {
		margin-bottom: 22px;
		padding-left: 60px;
		font-size: 22px;
		line-height: 1.3em;
		font-weight: 500;
		color: #7295d1;
	}
	
	&__box {
		min-height: 310px;
		padding: 70px 63px 60px;
		position: relative;
		z-index: 5;
		max-width: 670px;
		background-color: #e3eeff;
		color: #7295d1;
	}
	
}

.product-what-new-item {
	
	&__icon {
		height: 58px;
		margin-bottom: 20px;
		
		img {
			max-height: 100%;
		}
		
	}
	
}

.product-info-box {
	max-width: 980px;
	margin-bottom: 70px;
	margin-top: -90px;
	padding: 135px 120px 75px;
	background-color: #0e2c61;
	color: #fff;
	
	&__content {
		max-width: 710px;
		
		ul {
			padding-left: 0;
		}
		
	}
	
}

.product-how-work {
	min-height: 200px;
	margin-top: 70px;
	padding: 45px 60px 75px;
	background-color: #f8fafc;
	overflow: hidden;
	
	&__caption {
		margin-top: 20px;
		margin-bottom: 45px;
		font-size: 22px;
		font-weight: 500;
	}
	
	&__video {
		
		iframe {
			width: 765px;
			height: 420px;
		}
		
	}
	
}

.product-how-work-steps {
	margin: 0 -60px 78px -17px;
}

.product-how-work-step {
	display: inline-block;
	padding-right: 20px;
	width: 175px;
	vertical-align: top;
	position: relative;
	cursor: default;
	
	&__num {
		width: 75px;
		height: 75px;
		margin-left: 7px;
		margin-bottom: 35px;
		border-radius: 50%;
		background-color: #fff;
		text-align: center;
		font-size: 48px;
		font-weight: 500;
		line-height: 75px;
		transition: 0.2s;
		color: #0e2c61;
		position: relative;
		z-index: 2;
	}
	
	&__desc {
		font-size: 14px;
		line-height: 20px;
	}
	
	&:hover {
	
		.product-how-work-step__num {
			background-color: #0e2c61;
			color: #fff;
		}
	
	}
	
	&:after {
		content: "";
		position: absolute;
		top: 35px;
		width: 130px;
		left: 75px;
		height: 1px;
		background-color: #7295d1;
	}
	
	&:last-child {
		
		&:after {
			display: none;
		}
		
	}
	
}

.product-main-buttons {
	display: none;
	max-width: 333px;
	margin: 50px auto 80px;
	
	.arrow-btn {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		
		span {
			width: 85%;
			text-align: left;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
	}
	
}

.product-bottom-email {
	margin-bottom: 7px;
	margin-top: 100px;
	text-align: center;
	
	> * {
		margin: 0 29px;
	}
	
	&__label {
		display: inline-block;
		vertical-align: middle;
	}
	
	.arrow-btn {
		width: 282px;
		vertical-align: middle;
	}
	
}

.product-3-wrapper {
	
	.product-btns a span {
		width: 70%;
	}

}

.product-5-wrapper {
	
	.product-btns {
		margin-top: 174px;
	}
	
	.product-btns a span {
		width: 60%;
	}

}

.product-6-wrapper {
	
	.product-btns {
		margin-top: 71px;
	}
	
	.product-btns a span {
		width: 40%;
	}

}

.product-7-wrapper {
	
	.product-btns a span {
		width: 50%;
	}
	
	.product-what-new-item-col {
		margin-bottom: 40px;
	}
	
	.product-what-new-item-col {
		
		&:nth-child(5) {
			margin-top: -100px;
		}
		
	}

}


@media only screen and (max-width: 1200px) {
	
	.product-main {
		float: none;
		width: auto;
	}
	
	.product-aside {
		display: none;
	}

	.product-desc {
		max-width: 860px;
	}
	
	.product-main-buttons {
		display: block;
	}
	
	.product-how-work {
		min-height: 420px;
	}
	
	.product-how-work-steps {
		margin-bottom: 0;
	}
	
	.product-how-work-step {
		width: 140px;
		
		&:after {
			left: 63px;
			top: 30px;
		}
		
	}
	
	.product-how-work-step__num {
		width: 63px;
		height: 63px;
		margin-bottom: 30px;
		line-height: 63px;
		font-size: 40px;
	}
	
	.product-how-work-step__desc {
		font-size: 12px;
		line-height: 18px;
	}
	
}

@media only screen and (max-width: 991px) {
	
	.product-wrapper {
		margin-top: -5px;
	}
	
	.product-what-new {
		padding-left: 25px;
	}
	
	.product-info-box {
		padding-left: 80px;
		padding-right: 80px;
	}
	
	.product-how-work-step {
		width: 172px;
		margin-bottom: 70px;
		
		&:nth-child(3) {
			
			&:before {
				content: "";
				position: absolute;
				right: -22px;
				top: 18px;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				border: 1px solid #7295d1;
				background-color: #fff;
				z-index: 2;
			}
			
		}
		
		&:nth-child(4) {
		
			margin-left: 120px;
			
			&:after {
				width: 300px;
				left: -80px;
			}
			
			&:before {
				content: "";
				position: absolute;
				left: -100px;
				top: 18px;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				border: 1px solid #7295d1;
				background-color: #fff;
				z-index: 2;
			}
			
		
		}
		
	}
	
	.product-how-work__video iframe {
		width: 600px;
		height: 340px;
	}
	
}

@media only screen and (max-width: 767px) {
	
	.product-wrapper {
		margin-top: 30px;
		padding: 0;
	}
	
	.product-what-new {
		padding-left: 0;
		margin-top: 45px;
	}
	
	.product-what-new__caption {
		padding-left: 20px;
		font-size: 19px;
	}
	
	.product-what-new__box {
		padding: 50px 30px;
	}
	
	.product-what-new-item-col {
		margin-bottom: 45px;
		margin-top: 0 !important;
		
		&:last-child {
			margin-bottom: 0;
		}
		
	}
	
	.product-info-box {
		margin: -175px -15px 40px;
		padding: 195px 60px 40px;
	}
	
	.product-main-buttons {
		margin: 40px auto;
	}
	
	.product-how-work {
		padding: 30px 25px 80px;
	}
	
	.product-how-work-steps {
		margin: 0;
		margin-left: -10px;
	}
	
	.product-how-work-step {
		display: block;
		width: auto;
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 40px;
		padding-left: 90px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		&:before {
			display: none !important;
		}
		
		&:after {
			width: 1px !important;
			height: 150px !important;
			top: 0 !important;
			left: 40px !important;
		}
		
	}
	
	.product-how-work-step__num {
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.product-how-work__caption {
		font-size: 19px;
		line-height: 31px;
	}
	
	.product-how-work-step__desc {
		display: table-cell;
		vertical-align: middle;
		height: 60px;
	}
	
	.product-how-work__video iframe {
		width: 100%;
		height: 250px;
	}
	
	.product-bottom-email {
		margin-top: 60px;
		margin-bottom: 0;
	}
	
	.product-bottom-email > * {
		margin: 0 0 15px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
	}
	
	.product-bottom-email__label {
		display: block;
	}
	

}

@media only screen and (max-width: 365px) {
	
	.product-main-buttons .arrow-btn {
		
		span {
			width: 85%;
			text-align: left;
		}
		
	}
	
	.product-bottom-email .arrow-btn {
		width: 100%;
	}

}









